* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px red solid; */
}
/* reset */

body {
    font-family: sans-serif;
}

.container {
    
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;
}


/* navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;

    background-color: #ff6900;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

.links {
    gap: 15px;
}

nav a {
    text-decoration: none;

    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.logo img {
    height: 32px;
}
/* fine navbar */


/* Main */
main {
    padding-top: calc(75px + 60px)
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
}

#cards-container .vestiti {
    width: calc(100% / 3 - 20px / 3 * 2);
}

#cards-container .vestiti:nth-of-type(3n + 1) {
    padding-left: 0;
}

#cards-container .vestiti:nth-of-type(3n) {
    padding-right: 0;
}

#cards-container .vestiti .vestiti-inner img {
    width: 100%;
}

.marchio {
    font-size: 0.9em;
}

.modello {
    font-weight: bold;
}

.prezzo {
    display: flex;
    gap: 5px;

    color: red;
}

.vecchio-prezzo {
    color: black;
    text-decoration: line-through;
    
}

/* Fine Main */



/* Footer */

footer {
    display: flex;
    justify-content: space-between;

    align-items: center;

    height: 115px;

    background-color: #1a1a1a;
    color: white;
}

/* Fine footer */